body {
    font-family: Arial, sans-serif;
    background-color: #ffffff; /* Fondo completamente blanco */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 8px;
    /* Eliminado el box-shadow para que no haya difuminado */
    text-align: center;
    width: 100%;
    max-width: 400px;
}

.logo img {
    max-width: 400px;
    height: auto;
    margin-bottom: 30px;
}

h1 {
    font-size: 24px;
    color: #333333;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    display: block;
    font-size: 14px;
    color: #555555;
    margin-bottom: 8px;
}

.form-group input[type="text"],
.form-group input[type="password"] {
    width: calc(100% - 20px);
    padding: 12px 10px;
    border: 1px solid #dddddd;
    /* Bordes más ovalados para los inputs */
    border-radius: 20px; /* Incrementado para hacerlo más ovalado */
    font-size: 16px;
    background-color: #f9f9f9;
    color: #333333;
}

.form-group input[type="text"]::placeholder,
.form-group input[type="password"]::placeholder {
    color: #aaaaaa;
}

.btn-submit {
    background-color: #7e1b23; /* Color de fondo original del botón */
    color: white; /* Color de texto original del botón */
    padding: 12px 25px;
    border: none;
    /* Bordes más ovalados para el botón */
    border-radius: 20px; /* Incrementado para hacerlo más ovalado */
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; /* Transición para ambos colores */
    width: auto;
    margin-top: 20px;
}

.btn-submit:hover {
    background-color: white; /* Fondo blanco al pasar el mouse */
    color: #7e1b23; /* Color de texto vinotinto al pasar el mouse */
    border: 1px solid #7e1b23; /* Añadir un borde del color vinotinto para que se vea mejor */
}